#main {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgb(225, 233, 240);
    padding: 0px 50px;
    justify-content: space-evenly;
}

#fb-heading {
    width: 20em;
}

#main #fb-heading h1 {
    font-size: 4em;
    color: rgb(41, 137, 247);
    margin: 0;
    padding: 0;
}

#main #fb-heading p {
    /* text-align: justify; */
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    word-spacing: 5px;
}

#input {
    background-color: white;
    height: 20em;
    width: 50vh;
    display: block;
    padding: 20px 20px;
}

#input input {
    height: 40px;
    width: 95%;
    margin: 8px 0px;
}

#input .login {
    width: 97%;
    height: 43px;
    color: white;
    background-color: rgb(41, 137, 247);
}

#input a {
    text-decoration: none;
    color: rgb(41, 137, 247);
    text-align: center;
}

#input #creat {
    height: 40px;
    width: 10vw;
    border-radius: 5%;
    border: none;
    background-color: rgb(41, 181, 41);
    color: white;
    font-weight: bold;
}

#input #fc {
    display: flex;
    align-items: start;
    justify-content: center;
}

hr {
    width: 96%;
}
@media (max-width:700px) {
    #main{
        display: block;
        border: 2px solid red;
        padding: 0 25%;
        width: 100vw;
        height: 100vh;
        background-color: rgb(59, 89, 153);
    }
    #main #fb-heading h1{
        color: white;
        font-size: 50px;
        text-align: center;

margin: 50px;
    }
    #main #fb-heading p {
        display: none;
    }
    #input {
        background-color: rgb(59, 89, 153);
        /* margin: 15px 0px; */
        padding: 0;
    }
    #input input{
height: 2em;
width: 25em;
margin: 10px 0px;


    }
    #input .login {
        width: 25.4em;
        height: 3.5em;
        color: white;
        background-color: rgb(5, 64, 118);
        margin-top: 20px;
    }
hr{
    display: none;
}
#input a{
    color: white;
}
#input #creat{
width: 12em;

}
#fc{
    margin: auto;
display: block;
}



}
